<!DOCTYPE html>
<html>
<head>
<title>VenueDog Welcome Email</title>

<style type="text/css">
ol{margin:0;padding:0}p{margin:0}.c4{list-style-type:disc;margin:0;padding:0}.c6{max-width:468pt;background-color:#ffffff;padding:72pt 72pt 72pt 72pt}.c1{padding-left:0pt;direction:ltr;margin-left:36pt}.c5{color:#1155cc;text-decoration:underline}.c3{color:inherit;text-decoration:inherit}.c0{height:11pt;direction:ltr}.c2{direction:ltr}.title{padding-top:24pt;line-height:1.15;text-align:left;color:#000000;font-size:36pt;font-family:Arial;font-weight:bold;padding-bottom:6pt}.subtitle{padding-top:18pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:24pt;font-family:Georgia;padding-bottom:4pt}body{color:#000000;font-size:11pt;font-family:Arial}h1{padding-top:24pt;line-height:1.15;text-align:left;color:#000000;font-size:18pt;font-family:Arial;font-weight:bold;padding-bottom:6pt}h2{padding-top:18pt;line-height:1.15;text-align:left;color:#000000;font-size:14pt;font-family:Arial;font-weight:bold;padding-bottom:4pt}h3{padding-top:14pt;line-height:1.15;text-align:left;color:#666666;font-size:12pt;font-family:Arial;font-weight:bold;padding-bottom:4pt}h4{padding-top:12pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:11pt;font-family:Arial;padding-bottom:2pt}h5{padding-top:11pt;line-height:1.15;text-align:left;color:#666666;font-size:10pt;font-family:Arial;font-weight:bold;padding-bottom:2pt}h6{padding-top:10pt;line-height:1.15;text-align:left;color:#666666;font-style:italic;font-size:10pt;font-family:Arial;padding-bottom:2pt}
</style>
</head>
<body class="c6">
<p class="c2"><span>Welcome to VenueDog!</span></p>
<p class="c0"></p>
<p class="c2"><span>YOU are one of the first users of our
community! &nbsp;We aim to connect people to their city through
events and you are a part of making those connections.</span></p>
<p class="c0"></p>
<p class="c2"><span>Want to get the most out of
VenueDog?</span></p>
<ol class="c4" start="1">
<li class="c1"><span>Add events that are interesting to you to your
calendar. We’ll send you a quick email reminder in the morning of
the event so you don’t forget to attend.</span></li>
</ol>
<ol class="c4" start="1">
<li class="c1"><span>Browse events in a variety of ways to see if
anything new and different catches your attention.</span></li>
<li class="c1"><span>Create New events. &nbsp;From your user
dashboard or from the top of any page, you can quickly create an
event and add it to our listing for free. &nbsp;If you are an avid
event poster, you might consider joining our</span> <span class=
"c5"><a class="c3" href="http://eepurl.com/jCmmT">Event Posters
Tips &amp; Tricks</a></span> <span>&nbsp;</span><span>email list.
&nbsp;We’ll share handy tips from time to time to help you get the
most exposure.</span></li>
<li class="c1"><span>Share with friends when they are looking for
something to do. Tell your favorite events and venues that you
found them on VenueDog. &nbsp;</span></li>
<li class="c1"><span>If you have questions about certain features,
be sure to check out our</span> <span class="c5"><a class="c3"
href="http://www.venuedog.com/pages/faqs">FAQs</a></span><span>.</span></li>
<li class="c1"><span class="c5"><a class="c3" href=
"http://www.venuedog.com/pages/contact-us/">Contact
us</a></span><span>&nbsp;through the site,</span> <span class=
"c5"><a class="c3" href=
"http://www.facebook.com/VenueDog">Facebook</a></span><span>,</span><span>&nbsp;or</span>
<span class="c5"><a class="c3" href=
"http://www.twitter.com/VenueDog">Twitter</a></span><span>&nbsp;to
tell us what you like or dislike or hope to see. &nbsp;We want to
build something you are crazy about!</span></li>
</ol>
<p class="c0"></p>
<p class="c2"><span>Thanks for joining us. We can’t wait to see
where VenueDog will go.</span></p>
<p class="c0"></p>
<p class="c2"><span>Happy Hunting!</span></p>
<p class="c2"><span>VenueDog team</span></p>
<p class="c0"></p>
<p class="c0"></p>
</body>
</html>
