<div class="social">
  <p>Connect with us:
    <%= link_to "Connect with Venue Dog on Twitter", "http://twitter.com/venuedog", :class=>"twitter right", :target=>"_blank" %>
    <%= link_to "Connect with Venue Dog on Facebook", "http://facebook.com/venuedog", :class=>"facebook right", :target=>"_blank" %>
  </p>
</div>
