
<!-- Two column ads -->
<div class="ad ad_double city101_description">

  <% if !@ads.blank? %>
  <% @ads[0..1].each_with_index do |a, index| %>
  <div class="ad_single left">
    <% if !a.blank? %>
       <%= link_to( image_tag(a.image), a.destination, :onclick=> ga_ad_click(a.advertiser.name, a.name, a.destination), :target=>"_blank" ) %>
      <% content_for :footer_js, ga_track_ad_impression(a) %>
    <% else %>
      <!-- Leave buffer, scopes pull by active date -->
      <p class="align_center"><%= link_to "Claim this ad", "" %></p>
    <% end %>
  </div>
  <%= clear %>
    <% end %>
  <% end %>
</div>
